/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  /*max-width: 20rem;*/
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto Mono', monospace, sans-serif;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}


/* Styles MENU */
.menuElm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #2b2d2f;
  /*margin: 0 auto 0;*/
  padding: 2rem;
}

a {
  text-decoration: none;
  margin-left: 0;
  margin-right: 2rem;
  color: whitesmoke;
}

a:hover,
a:focus {
  /* font-size: 1.1em; */
  color: yellow;
}

.menu__pages {
  display: flex;
  max-width: 75%;
  justify-content: left;
}

.menu__github--icon {
  font-size: 1.5em;

}

.fa-github {
  /*font-size: 2.5em;*/
  color: whitesmoke;
}

/* MENU STYLES JAVASCRIPT */
.current {
  color: yellow;
}


/* MAIN INDEX.HTML */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* img {
  max-width: 10rem;
  border-radius: 50%;
} */

h1 {
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
}

.paragraph {
  width: 50%;
  text-align: center;
}
